<form asp-action="Index">
    <input type="text " name="Fullname" fullname>
     <input type="text " name="dongia" dongia>
      <input type="text " name="Soluong" soluong>
      <button type="Submit">Submit</button>
</form>
<h1>@ViewBag.Message</h1>