<h1>@ViewBag.Tinhdiem</h1>
<form asp-action="Index">
    <input type="text" name="fullname" placeholder="name">
    <input type="text" name="DiemA" placeholder="A">
    <input type="text" name="DiemB" placeholder="B">
    <input type="text" name="DiemC" placeholder="C">
    <button type="submit">submit</button>

</form>