<form asp-action ="Create">
    <input type="text" name="" Id placeholder="Id">
    <input type="text" name="" Fullname placeholder="Fullname">
    <input type="submit" value="Create">
    
</form>
<h2>@ViewBag.Message</h2>   